@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Marrige_Aggrigator_Global.js")"></script>
    <script src="@Url.Content("~/Scripts/profile.js")"></script>
    <script src="@Url.Content("~/Scripts/search.js")"></script>
}

<div class="bg">
    <div class="search">

        <label for="sex">I'm looking for a</label>
        <select id="sex" class="searchSelect">
            <option>Woman</option>
            <option>Man</option>
        </select>

        <label for="religion">of Religion</label>
        <select id="religion" class="searchSelect"></select>

        <label for="mothertounge">Mother Tongue</label>
        <select id="mothertounge" class="searchSelect"></select>

        <label for="community">Community</label>
        <select id="community" class="searchSelect"></select>

        <label for="specialCategory">Special Category</label>
        <select id="specialCategory" class="searchSelect"></select>

        <button type="button" class="btn btn-primary begin" id="search">Let's Begin</button>
    </div>
</div>


